* {
    margin: 0;
    padding: 0;
    box-sizing :border-box
}
body {
    background: url('bg.jpg') no-repeat center;
    background-size: cover;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.login-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form {
    position: relative;
    width: 100%;
    max-width: 380px;
    padding: 80px 40px 40px;
    background:rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    color: seashell;
    box-shadow: 0 10px 15px rgba(40, 102, 73, 0.603);
}
.form::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 42%;
    height: 100%;
    background: rgba(1, 138, 138, 0.089);
    
    border-radius: 10px;
    pointer-events: none;
}
.form img{
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    width: 100px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
}
.form h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serifS;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0.5px;
    margin-bottom: 2rem;
    color: rgba(39, 153, 58, 0.527);
}
.form .input-group {
    position: relative;
    color: rgba(35, 131, 86, 0.74);
}
.form .input-group input {
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid rgba(40, 102, 73, 0.603);
    outline: none;
    background-color: transparent;
    color: inherit;
}
.form .input-group label {
   position: absolute;
   top: 0;
   left: 0;
   padding: 10px 0;
   font-size: 1rem;
   pointer-events: none;
   transition: .2s ease-out; 
}
.form .input-group input:focus + label,
.form .input-group input:valid + label {
transform: translateY(-18px);
color: rgba(82, 236, 203, 0.788);
font-size: 0.8rem;
}
.btn{
    display: block;
    margin-left: auto;
    border: 1.5px solid rgba(40, 102, 73, 0.603);
    outline: none;
    background: transparent;
    font-size: 1rem;
    color: rgba(40, 102, 73, 0.603);
    text-transform: uppercase;
    letter-spacing: 0.7px;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.25s;
}
.btn:hover {
    background: rgba(40, 102, 73, 0.603);
    color: rgba(0, 0, 0, 0.6);
    border: none;
    box-shadow: 0px 0px 10px rgba(4, 240, 248, 0.76);
    
}
.reset{
  color: rgba(35, 131, 86, 0.74);
}

